﻿@model UDD.Web.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<style>
    html, body {
        height: 100%;
    }

    .outer-wrapper {
        display: table;
        width: 100%;
        height: 100%;
    }

    .inner-wrapper {
        display: table-cell;
        vertical-align: middle;
        padding: 15px;
    }

    .login-btn {
        position: fixed;
        top: 15px;
        right: 15px;
    }
</style>

<section id="loginform" class="outer-wrapper">

    <div class="inner-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <h2>Sign in</h2>
                    @using (Html.BeginForm("Login", "Auth", new { returnUrl = ViewBag.returnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                     
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username)
                            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <button type="submit" class="btn btn-primary">Submit</button>
                    }
                </div>
            </div>
        </div>
    </div>

</section>
