﻿@model UDD.Web.Models.SearchModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

@using (Html.BeginForm("Search", "Search", FormMethod.Post, new {@class= "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Author, "Author", htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Keywords, "Keywords", htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.EditorFor(model => model.Keywords, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Content, "Content", htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = 3 })  
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Language, "Languge", htmlAttributes: new { @class = "col-lg-2 control-label" })
            <div class="col-lg-10">
                @Html.DropDownList("Language", null, htmlAttributes: new { @class = "form-control"})
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 control-label">Match</label>
            <div class="col-lg-10">
                <div class="radio">
                    <label>
                        @*<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">*@
                        @Html.RadioButtonFor(model => model.MatchAny, true, new { @checked = true })
                        Any field
                    </label>
                </div>
                <div class="radio">
                    <label>
                        @Html.RadioButtonFor(model => model.MatchAny, false)
                        All fields
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </fieldset>
}

