﻿@model IEnumerable<UDD.Web.Models.SearchResult>

@{
    ViewBag.Title = "Search Results";
}

<h2>SearchResults</h2>



@foreach (var searchResult in Model)
{
    <hr />
    <div class="media">
        @if (searchResult.CanBeDownloaded)
        {
        <a class="media-left media-middle" href="@Url.Action("Download", new { bookId = @searchResult.BookId })">
            <img class="media-object" src="/Content/Images/download-symbol.png" alt="...">
        </a>
        }
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="media-left media-middle" href="@Url.Action("Login", "Auth")">
                Please login to download
            </a>
        }
        <div class="media-body">
            <h4 class="media-heading">@searchResult.Title</h4>
            @Html.Raw(searchResult.Preview)
        </div>
    </div>
}

