﻿@model IEnumerable<UDD.DataAccess.Model.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
    @Html.ActionLink("Add New Book", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        @*<th>
            File Name
        </th>*@
        <th>
            Author
        </th>
        @*<th>
            Keywords
        </th>*@
        <th>
            Publication Year
        </th>
        @*<th>
            MIME
        </th>*@
        <th>
            Category
        </th>
        <th>
            Language
        </th>
        <th>
            Uploaded By
        </th>
        <th>
            Download
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Keywords)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.PublicationYear)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MIME)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @if (item.CanBeDownloaded)
            {
                <a href="@Url.Action("Download", new { filename = item.FileName })">Download</a>
            }
            @if (!User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Login", "Auth")">
                    Please login to download
                </a>
            }
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
            <span>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </span>
            }
            else if (User.IsInRole("Subscriber"))
            {
            @Html.ActionLink("Details", "Details", new { id = item.Id })
            }
        </td>
    </tr>
}

</table>
